####################################
# for python(Django) container
####################################

# OS user
OS_USER=user
OS_GROUP=group

# 0:not debug mode / 1: debug mode
DEBUG_MODE=0
# Django unique secret key value
SECRET_KEY=foo
# Host names to allow access to django apps
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# database connection settings
DB_ENGINE=django.db.backends.postgresql
DB_NAME=name
DB_USER=user
DB_PASSWORD=password
DB_HOST=host
DB_PORT=5432

####################################
# for postgres container
####################################

POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
